<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>website Page</title>
  </head>
  <body>
      {{> header}}
    <p>Project Page Text Go Here</p>
    <p>Some text here</p>
  </body>
  {{> footer}}
</html>
